body {
    background-image: url("../slike/anfield.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.social-links a img {
    width: 60px;
    margin-right:40px;
    margin-left:40px;
    transition: transform 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.1);
}

.map {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.map a img {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin-left: 50px;
}

.map a:hover img {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer img {
    width: 70px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
}
