body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
    background-image: url("../slike/anfield.jpg");
}
h2{
    font-weight: bolder;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}
.form-izmena {
    display: flex;
    justify-content: center;
    gap: 10px;
}
input[type="number"] {
    width: 60px;
    padding: 5px;
}
input[type="submit"] {
    padding: 6px 10px;
    background-color: #8f3e40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #7a0e13;
}
.obrisi-btn {
    text-decoration: none;
    padding: 6px 10px;
    background-color: #d33;
    color: white;
    border-radius: 4px;
}
.obrisi-btn:hover {
    background-color: #a00;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
.ukupno-box {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    font-size: 1.1rem;
    color: #333;
    max-width: 300px;
    margin-left: 5%;
    a{
        margin-left :15px;
        background-color: red;
        padding: 7px 10px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
        text-decoration: none;
    }
    button:hover{
        transition: 0.5s ease;
        background-color: black;
    }
}
.btn-kupovina {
    font-size: 0.8em;
    margin-left: 15px;
    background-color: #e1320a;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-kupovina:hover {
    background-color: #007bff;
}
