<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Mozzart Bet Super Ligi</title>
    <link rel="stylesheet" href="../style/b.css">
</head>
<body>
  <div class="hero">
    <div class="hero-logos-left">
      <img src="../slike/partizan.png" alt="Partizan" class="hero-logo">
    </div>
    <div class="hero-center">
      <img src="https://upload.wikimedia.org/wikipedia/sr/thumb/2/24/FSS_logo.svg/500px-FSS_logo.svg.png?20250828220326" alt="FSS" class="hero-logo hero-logo-center">
      <h1>Mozzart Bet Super Liga</h1>
    </div>
    <div class="hero-logos-right">
      <img src="../slike/czv.svg" alt="Crvena zvezda" class="hero-logo">
    </div>
  </div>

  <div class="content-area">
    <h1><u>Mozzart Bet Super Liga</u></h1>

    <h2>Mozzart Bet Super Liga je najviši rang fudbalskog takmičenja u Srbiji. Osnovana je 2006. godine nakon raspada državne zajednice Srbije i Crne Gore, kada je Fudbalski savez Srbije preuzeo organizaciju najvišeg ranga takmičenja. Liga nosi ime po glavnom sponzoru, kompaniji Mozzart Bet, koja je jedan od vodećih provajdera igara na sreću u regionu.</h2>

    <h2>Super Liga se sastoji od 16 klubova koji tokom sezone igraju ukupno 30 kola (svaki tim igra sa svakim po dva puta - jednom kod kuće i jednom u gostima). Najbolji timovi se kvalifikuju za evropska takmičenja (Liga šampiona i Liga Evrope), dok najslabiji ispadaju u Prvu ligu Srbije. Liga je domaćin nekim od najstarijih i najtradicionalnijih fudbalskih klubova u Evropi.</h2>

    <h2><u>Najuspešniji klubovi</u></h2>
    <ul class="a">
      <li>Crvena zvezda - rekorder sa najviše osvojenih titula prvaka Srbije i bivše Jugoslavije.</li>
      <li>Partizan - drugi najuspešniji klub sa brojnim domaćim i evropskim trofejima.</li>
      <li>Vojvodina - tradicionalni klub iz Novog Sada sa bogatom istorijom.</li>
      <li>OFK Beograd - jedan od najstarijih klubova sa velikom tradicijom.</li>
    </ul>

    <h2><u>Stadioni i navijači</u></h2>
    <ul class="a">
      <li>Rajko Mitić (Marakana) - domaćin Crvene zvezde, kapacitet preko 55.000 gledalaca.</li>
      <li>Stadion Partizana - domaćin Partizana, kapacitet preko 32.000 gledalaca.</li>
      <li>Karađorđe - domaćin Vojvodine, kapacitet preko 15.000 gledalaca.</li>
      <li>Brojni drugi stadioni širom Srbije koji su domaćini ostalim klubovima Super Lige.</li>
    </ul>

    <div class="div">
      <a id="button" href="../index.php">⬅ Vrati se na početnu</a>
    </div>
  </div>
</body>
</html>
