<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../style/contact.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Contact Us</h1>
            <h2>Možete nas kontaktirati putem sledećih platforma</h2>
        </header>

        <div class="social-links">
            <a href="https://www.instagram.com/aleksa_milosevicc/" target="_blank">
                <img src="../slike/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../slike/facebook.png" alt="Facebook">
            </a>
        </div>

        <div class="map">
            <a href="https://www.google.com/maps/place/Univerzitet+Singidunum/@44.7726199,20.4549105,13.18z/data=!4m6!3m5!1s0x475a70675616a667:0x31457a4b1766e54a!8m2!3d44.781636!4d20.4793108!16s%2Fm%2F06zm5v1?entry=ttu&g_ep=EgoyMDI1MDQwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                <img src="../slike/map.png" alt="Singidunum Location">
            </a>
        </div>

        <footer>
            <img src="../slike/verified.png" alt="Verified">
        </footer>
    </div>
</body>
</html>
